{% extends "TfeCoreBundle:Default:index.html.twig" %}

{% block title %}
    Statistique - {{ parent() }}
{% endblock %}

{% block body %}
    <h2> Quelques statistiques</h2>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombres total d'utilisateurs</th>
                <th>Nombres total de publications</th>
                <th>Nombres total de commentaires Forum</th>
                <th>Nombres total de commentaires Publication</th>
            </tr>
        </thead>
         <tbody>
            <tr>
                {% for admins in nbUsers %}
                    {% for nb in admins %}
                        <td>{{ nb }}</td>
                    {% endfor %}
                {% endfor %}

                 {% for admins in nbPublication %}
                    {% for nb in admins %}
                        <td>{{ nb }}</td>
                    {% endfor %}
                {% endfor %}

                 {% for admins in nbCommentForum %}
                    {% for nb in admins %}
                        <td>{{ nb }}</td>
                    {% endfor %}
                {% endfor %}

                {% for admins in nbCommentPublication %}
                    {% for nb in admins %}
                        <td>{{ nb }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
        </tbody>

{% endblock %}